header{
    background-color: #f2f2f2;
    padding-top: 100px;
    height: 100vh;
    background-image: url("/img/iosf_hero_banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header__heroContainer{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header__heroHeading{
    font-size: 56px !important;
    font-family: "Poppins" !important;
    font-weight: bolder;
    color: #2b2d42 !important;
}
.header__heroSubheading{
    font-size: 28px;
    font-weight: lighter;
}
.header__btnContainer{
    margin-top: 50px;
}
.header__heroJoinUsBtn{
    background-color: #ef233c !important;
    color: white !important;
    border: 1px solid #ef233c !important; 
    border-radius: 50px !important;
    letter-spacing: 0.1em;
    font-weight: bold;
}
.header__heroJoinUsBtn i {
    margin-left: 10px;
    color: white !important;
}
.header__heroOurProductsBtn{
    background-color: transparent !important;
    color: #ef233c !important;
    border: 1px solid #ef233c !important;
    border-radius: 50px !important;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-left: 30px;
}
.togetherLetsTitle{
    font-size: 56px !important;
    color: #c0c0c0 !important;
    text-align: left !important;
}
.togetherLets__cardContainer{
    margin-top: 40px !important;
    text-align: center;
}
.togetherLets__cardContainer h3{
    font-family: "Poppins" !important;
}

@media screen and (max-width: 600px){
    header{
        padding-top: 100px;
    }
    .header__heroContainer{
        display: block;
    }
    .header__heroHeading{
        font-size: 40px !important;
        font-weight: bolder;
    }
    .header__heroSubheading{
        font-size: 20px;
        font-weight: lighter;
        margin-top: 50px;
    }
    .header__btnContainer{
        margin-top: 30px;
    }
    .header__heroJoinUsBtn{
        background-color: #ef233c !important;
        color: white !important;
        border: 1px solid #ef233c !important; 
        border-radius: 50px !important;
        letter-spacing: 0.1em;
        font-weight: bold;
        height: 36px !important;
        line-height: 36px !important;
        padding: 0 18px !important;
        font-size: 14px !important;
        display: block;
        width: 100%;
    }
    .header__heroOurProductsBtn{
        background-color: transparent !important;
        color: #ef233c !important;
        border: 1px solid #ef233c !important;
        border-radius: 50px !important;
        letter-spacing: 0.1em;
        font-weight: bold;
        margin-left: 0;
        margin-top: 30px;
        height: 36px !important;
        line-height: 36px !important;
        padding: 0 18px !important;
        font-size: 14px !important;
        display: block;
        width: 100%;
    }
    .togetherLetsTitle{
        font-size: 40px !important;
        text-align: center !important;
        color: #c0c0c0 !important;
        text-align: left !important;
    }
}