.learningpath__section{
    background-color: rgba(217,228,232, 0.5);
}
.learningpath__boxContainer .box{
    background-color: rgba(217,228,232, 0.7) !important;
}
.learningpath__boxContainer .box h3{
    font-size: 32px !important;
    font-weight: 400;
}
.learningpath__boxContainer p{
    font-size: 20px !important;
    font-weight: lighter;
    margin-left: 0;
    padding-left: 0;
}
.learningpath__getStartedBtn{
    margin-top: 30px;
    background-color: #2b2d42 !important;
    border: 1px solid #2b2d42 !important;
    color: white !important;
    letter-spacing: 0.1em;
    font-weight: bolder;
    font-size: 14px !important;
}