.footer{
    background-color: #2b2d42 !important;
    padding-top: 100px !important;
}
.footer blockquote {
    background-color: rgba(43,45,66) !important;
    font-size: 24px !important;
    color: #eeeeee !important;
    font-style: italic;
    font-weight: lighter !important;
    margin-bottom: 100px !important;
}
.footer blockquote strong{
    color: #eeeeee !important;
}
.footer blockquote .footer__joinUsBtn{
    display: block !important;
    margin-top: 50px !important;
    width: 30%;
    margin: 0px auto;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold !important;
    background-color: #ef233c !important;
    border: 1px solid #ef233c !important;
    color: white !important;
}
.footer blockquote .footer__joinUsBtn i {
    margin-left: 10px;
    color: white !important;
}
.footer h4{
    font-size: 28px !important;
    color: white !important;
}
.footer__links li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer__links li a{
    color: #eeeeee !important;
    font-size: 18px !important;
}
.footer__socialLinks a{
    margin: 10px;
    padding: 10px;
}
.footer__socialLinks a i{
    font-size: 24px !important;
    color: #eeeeee !important
}
