.footer {
  background-color: #2b2d42 !important;
  padding-top: 100px !important;
  position: relative;
}

.level img {
  max-height: 1.75rem;
}

.rows {
  display: flex;
  flex-direction: column;
}

.footer blockquote .footer__joinUsBtn {
  display: block !important;
  margin-top: 50px !important;
  width: 30%;
  margin: 0px auto;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: bold !important;
  background-color: #ef233c !important;
  border: 1px solid #ef233c !important;
  color: white !important;
}
.footer blockquote .footer__joinUsBtn i {
  margin-left: 10px;
  color: white !important;
}

.language {
  position: relative;
  margin-top: 4rem;
  margin-left: 8rem;
}

.footer h4 {
  font-size: 24px !important;
  color: white !important;
}

.button.is-rounded {
  border-radius: 290486px;
}

.button__join {
  background-color: #ef233c !important;
  border-color: #ef233c !important;
  color: white !important;
}

ul {
  margin: 0 !important;
}
.footer__links li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__links li a {
  color: #eeeeee !important;
  font-size: 16px !important;
}
.footer__socialLinks a {
  margin: 0;
  padding: 0 30px 0 0;
}
.footer__socialLinks a i {
  font-size: 24px !important;
  color: #eeeeee !important;
}
.footer__copyright {
  padding: 1px;
}

.justify__text__left {
  display: flex;
  justify-content: left;
}

.footer__copyright p {
  color: #eeeeee !important;
}
.footer__subscribeBtn {
  font-weight: bolder;
  font-family: "Poppins" !important;
  letter-spacing: 0.1em;
  color: white !important;
}

@media screen and (max-width: 600px) {
  .footer blockquote {
    background-color: rgba(43, 45, 66) !important;
    font-size: 18px !important;
    color: #eeeeee !important;
    font-style: italic;
    font-weight: lighter !important;
    margin-bottom: 70px !important;
  }
  .footer blockquote .footer__joinUsBtn {
    display: block !important;
    margin-top: 50px !important;
    width: 100%;
    margin: 0px auto;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: bold !important;
    background-color: #ef233c !important;
    border: 1px solid #ef233c !important;
    color: white !important;
  }
  .footer__socialLinks a {
    margin: 0;
    padding: 0 20px 0 0;
  }
  .footer__socialLinks a i {
    font-size: 20px !important;
    color: #eeeeee !important;
  }

  .language {
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .justify__text__left {
    justify-content: left !important;
  }
}
