.navModal .modal-background{
  background-color: white !important;
}
.navModal button.modal-close{
  background-color: #4d4d4d !important;
}
.navModal__links .button{
  display: block;
  width: 100%;
  margin-top: 30px ;
  font-weight: bolder;
  border: none;
}
.navModal__joinusBtn{
  display: block;
  width: 50% !important;
  margin: 30px auto 0px auto !important;
  font-weight: bolder;
  border: 1px solid #ef233c !important;
  color: #ef233c !important;
  letter-spacing: 0.1em;
}