.nav-wrapper ul li a{
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 0px 40px;
  font-size: 14px;
}


.nav__joinus__btn.btn{
  background-color: #ef233c ;
  color: white;

}

.sidenav-trigger{
  padding: 10px 10px;
}
.sidenav-trigger i{
  font-size: 20px;
}