.bootcamp__notificationContainer{
    background-color: rgba(217, 4, 41, 0.8) !important; 
}

.bootcamp__title{
    color: #ffffff !important;
    font-style: italic;
    font-family: "Poppins" !important;
    font-size: 40px !important;
    text-decoration: underline;
}

.bootcamp__content p {
    font-size: 22px !important;
    color: white !important;
    font-weight: lighter !important;
}

.bootcamp__content p strong{
    color: white !important;
}

.bootcamp__enrollBtn{
    margin-top: 30px;
    background-color: #2b2d42 !important;
    border: 1px solid #2b2d42 !important;
    color: white !important;
    letter-spacing: 0.1em;
    font-weight: bolder !important;
}

.bootcamp__enrollBtn i {
    font-size: 16px;
    color: white !important;
    margin-left: 10px;
}


@media screen and (max-width : 600px){
    .bootcamp__title{
        font-size:  24px !important;
    }
    .bootcamp__content p {
        font-size: 18px !important;
        color: white !important;
        font-weight: lighter !important;
    }

    .bootcamp__enrollBtn{
        margin-top: 30px;
        background-color: #2b2d42 !important;
        border: 1px solid #2b2d42 !important;
        color: white !important;
        letter-spacing: 0.1em;
        font-weight: bolder !important;
        font-size: 14px !important;
    }
    
    .bootcamp__enrollBtn i {
        font-size: 12px;
        color: white !important;
        margin-left: 10px;
    }
}