.product__card{
    position: relative;    
}

.product__card .card{
    padding: 0px;
}

.product__card .card img {
    height: 150px !important;
    width: 150px !important;
}

.product__card .card p{
    font-size: 16px !important;
    margin-top: 20px !important;
}
.product__avatar{
    position: absolute;
    top: -70px;
    left: -70px;
}
.product__title{
    font-family: "Poppins" !important;
    font-size: 28px;
    font-weight: bolder;
    color: #2b2d42 !important;
    margin-top: 30px;
}
.product__contributeBtn{
    margin-top: 30px;
    letter-spacing: 0.1em;
    display: block !important;
    width: 100%;
    font-weight: bolder;
}
.product__contributeBtn i{
    font-size: 14px;
    margin-right: 5px;
}
.product__progressTag{
    position: absolute;
    background-color: #3949ab;
    color: #FFFFFF !important;
    font-family: "Poppins" !important;
    padding: 8px 12px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
    right: -15px;
    top: 10px;
}

@media screen and (max-width: 600px){
    .product__card .card img {
        height: 100px !important;
        width: 100px !important;
    }
    .product__avatar{
        position: relative;
        top: 0;
        left: 0;
    }
    .product__title{
        font-family: "Poppins" !important;
        font-size: 28px;
        font-weight: bolder;
        color: #2b2d42 !important;
        margin-top: 30px;
    }
    .product__contributeBtn{
        margin-top: 30px;
        letter-spacing: 0.1em;
        display: block !important;
        width: 100%;
        font-weight: bolder;
        font-size: 12px !important;
    }
    .product__card .card h6{
        font-size: 24px;
        font-weight: bolder;
        color: #2b2d42 !important;
        margin-top: 30px;
    }
    .product__progressTag{
        position: absolute;
        background-color: #3949ab;
        color: #FFFFFF !important;
        padding: 8px 12px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        font-weight: bold;
        letter-spacing: 0.1em;
        right: -0px;
        top: 10px;
        font-size: 12px !important;
    }
}

