.navbar .navbar-brand span {
  font-weight: bolder;
  font-family: "Poppins";
  font-size: 22px;
  margin-left: 10px;
  color: #3c3c3c !important;
}

.navbar .navbar-menu .navbar-end a{
  margin-right: 30px !important;
  font-weight: bolder;
  color: #3c3c3c !important;
  /* font-family: "Poppins" !important; */
}

.navbar__joinusBtn{
  color: #ef233c !important;
  font-weight: bolder;
  letter-spacing: 0.1em;
  border: 1px solid #ef233c !important;
}

@media screen and (max-width : 600px){
  .navbar .navbar-brand span {
    font-weight: bolder;
    font-family: "Poppins";
    font-size: 16px;
    margin-left: 5px;
    color: #3c3c3c !important;
  }
}